.tvSeriesPage {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}


.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.dotsCont {
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
}



.moviesPagel {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 70px 70px;
}

.moviesContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.moviesContent a {
    color: #fff;
    text-decoration: none;
}

.moviesPanel_title {
    text-align: start;
    margin-bottom: 20px;
}

.customMoviesCard {
    min-width: 0;
    height: 0;
    width: 327px;
    height: 524px;
    margin-right: 0px; 
}